﻿@model Fizzbuzz.Models.FizzbuzzModel
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Index", "FizzBuzz", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="margin-top:5%">
        <div class="form-group">
            @Html.LabelFor(Model => Model.InputNumber, "Enter a number", htmlAttributes: new { @class = "control-label col-md-2", Style = "color:black" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InputNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InputNumber)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn-btn-default" />
            </div>
        </div>
        @if (Model?.numbers?.Count > 0)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    @foreach (var item in Model.numbers)
                    {
                        var resutlt = item.Split(' ');
                        foreach (var number in resutlt)
                        {
                            <span class="@number"> @number </span>
                        }

                        <br />
                    }
                </div>
                @{
                    var renderOptions = PagedListRenderOptions.Minimal;
                    renderOptions.LinkToNextPageFormat = "Next";
                    renderOptions.LinkToPreviousPageFormat = "Pervious";
                }

                <div>
                    @Html.PagedListPager(Model.numbers, page => Url.Action("", new { Model.InputNumber, page }), renderOptions)
                </div>

            </div>
        }

    </div>

}
